:root {
    --color-primary-light-red: hsl(0, 100%, 67%);
    --color-primary-orangey-yellow: hsl(39, 100%, 56%);
    --color-primary-green-teal: hsl(166, 100%, 37%);
    --color-primary-cobalt-blue: hsl(234, 85%, 45%);

    --gradient-primary-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-primary-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-primary-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-primary-persian-blue: hsla(241, 72%, 46%, 0);

    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-pale-blue: hsl(221, 100%, 96%);
    --color-neutral-light-lavender: hsl(241, 100%, 89%);
    --color-neutral-dark-gray-blue: hsl(224, 30%, 27%);

    --font-family-primary: 'Hanken Grotesk', sans-serif;
    --font-weight-regular: 500;
    --font-weight-medium: 700;
    --font-weight-bold: 800;
}